<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<form action="/submit" method="post">

        <h3>Вопрос 1. Что такое PEP 8 и зачем он используется??</h3>
        <input type="radio" id="q1a" name="q1" value="a">
        <label for="q1a">a) Это версия Python.</label><br>
        <input type="radio" id="q1b" name="q1" value="b">
        <label for="q1b">b) Стандарт стиля кода Python, который рекомендуется придерживаться для улучшения читаемости кода.</label><br>
        <input type="radio" id="q1c" name="q1" value="c">
        <label for="q1c">c) Протокол для обмена данными между программами на Python.</label><br>

        <h3>Вопрос 2: Какие типы данных поддерживает Python?</h3>
        <input type="radio" id="q2a" name="q2" value="a">
        <label for="q2a">a) Только числа и строки.</label><br>
        <input type="radio" id="q2b" name="q2" value="b">
        <label for="q2b">b) Числа, строки, списки, кортежи, словари и множества.</label><br>
        <input type="radio" id="q2c" name="q2" value="c">
        <label for="q2c">c) Только списки и кортежи.</label><br>


        <h3>Вопрос 3: Как создать функцию в Python?</h3>
        <input type="radio" id="q3a" name="q3" value="a">
        <label for="q2a">a) С помощью оператора def.</label><br>
        <input type="radio" id="q3b" name="q3" value="b">
        <label for="q2b">b) С помощью ключевого слова function.</label><br>
        <input type="radio" id="q3c" name="q3" value="c">
        <label for="q2c">c) Функции в Python создавать не нужно, можно использовать только методы.</label><br>


        <h3>Вопрос 4: Как создать функцию в Python?</h3>
        <input type="radio" id="q3a" name="q3" value="a">
        <label for="q2a">a) С помощью оператора def.</label><br>
        <input type="radio" id="q3b" name="q3" value="b">
        <label for="q2b">b) С помощью ключевого слова function.</label><br>
        <input type="radio" id="q3c" name="q3" value="c">
        <label for="q2c">c) Функции в Python создавать не нужно, можно использовать только методы.</label><br>
        <input type="submit" value="Submit">




</body>
</html>